{% extends "crudapp/base.html" %}

{% block title %}
dash
{% endblock %}
{% block content %}
<h2>Welcome {{ user }}</h2>
    <hr>
    <a href="{% url 'create_record' %}" class="btn btn-outline-info">
        Create record <i class="bi bi-plus"></i>
    </a>
    <hr>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
        <th scope="col">Phone</th>
      <th scope="col">View</th>

    </tr>
  </thead>
  <tbody>
  {% if records %}
      {% for record in records %}
    <tr>
      <th scope="row">{{ record.id }}</th>
      <td>{{ record.first_name }}</td>
      <td>{{ record.last_name}}</td>
      <td>{{ record.phone_number }}</td>
    <td> <a class="btn btn-outline-primary" href="{% url 'record' record.id %}"><i class="bi bi-eye"></i></a>
    </td>
    </tr>
      {% endfor %}
  {% endif %}
  </tbody>
</table>
<script>
    let userString = '{{ user|escapejs }}'; // The user variable is a JSON string
    console.log("%s is authenticated", userString);

</script>
{% endblock %}