{% extends 'crudapp/base.html' %}

{% block title %}
view{{ pk }}
{% endblock %}

{% block content %}

    <div class="card" style="width: 18rem;">

    <strong>
        &nbsp;
        <i class="bi bi-person-circle"></i>
        {{ record.first_name|upper }}
        {{ record.last_name|upper }}
    </strong><hr>
  <!----<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <p><strong> ID: </strong>{{ record.id }}</p>
    <p><strong> Email: </strong>{{ record.email }}</p>
      <p><strong> Phone: </strong>{{ record.phone_number }}</p>
      <p><strong> Created: </strong>{{ record.created }}</p>
  </div>
    </div>
    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary"><i class="bi bi-arrow-left-circle"></i> Return</a>
    &nbsp; &nbsp; &nbsp;
    <a href="{% url 'update_record' record.id %}" class="btn btn-outline-secondary"> <i class="bi bi-cloud-arrow-up"></i> Update</a>
    &nbsp; &nbsp; &nbsp;
    <a id="del" href="{% url 'delete' record.id %}" class="btn btn-danger"><i class="bi bi-x-lg"></i> Delete</a>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
  const deleteButton = document.getElementById('del');

  deleteButton.addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default action of following the link immediately

    // Display a confirmation dialog
    const confirmed = window.confirm("Are you sure you want to delete this record?");

    // Check the user's choice
    if (confirmed) {
      window.location.href = event.target.href; // Proceed with the deletion
    } else {
      // Do nothing or display a message indicating cancellation
      console.log('Deletion canceled.');
    }
  });
});

    </script>
{% endblock %}